@use "../abstract/mixins" as *;
@use "../abstract/colors" as *;
@use "../base/reset" as *;
@use "../base/typography" as *;

header {
  padding: 15px 0;
  position: sticky;
  width: 100%;
  top: 0;
  background-color: gtclr(whitecl);
  z-index: 100;
  overflow: hidden;
  .container {
    @include flex;
    img {
      height: 3rem;
    }
    nav {
      ul {
        li {
          list-style: none;
          display: inline-block;
          position: relative;
          padding: 0 1.5rem;
          cursor: pointer;
          a {
            text-decoration: none;
            color: gtclr(text);
            font-size: 1.1rem;
            font-family: "Quicksand";
            font-weight: 600;
          }
          &::after {
            content: "";
            width: 0;
            height: 3px;
            border-radius: 50px;
            margin: auto;
            display: block;
            background-color: gtclr(primary);
            transition: 0.3s;
          }
          &:hover::after {
            width: 100%;
          }
        }
      }
      &.active {
        max-height: 300px;
        opacity: 1;
        pointer-events: auto;
      }
    }

    .menuIcon {
      font-size: 1.7rem;
      display: none;
      pointer-events: auto;
      transition: "transform 0.3s ease, opacity 0.3s ease";
      transition: all 0.3s cubic-bezier(0.4, 0, 0.2, 1);
      transform-origin: center;
      color: gtclr(text);
    }

    .menuIcon.open {
      transform: rotate(90deg);
      opacity: 0.8;
    }
  }
}
@include mediaquery(765px) {
  header {
    z-index: 999;
    .container {
      nav {
        transition: max-height 0.3s ease-in-out, opacity 0.3s ease;
        position: fixed;
        top: 78px;
        background-color: gtclr(whitecl);
        left: 50%;
        transform: translateX(-50%);
        width: 80%;
        max-height: 0;
        pointer-events: none;
        overflow: hidden;
        ul {
          li {
            display: flex;
            flex-direction: column;
            text-align: center;
            margin-bottom: 2rem;
            padding: 0;
            a {
              width: 100%;
              transition: 0.3s;
              padding: 0.4rem;
              &:hover {
                background-color: gtclr(primary);
              }
            }
          }
        }
      }
      .menuIcon {
        display: flex;
        cursor: pointer;
      }
    }
  }
}
