@font-face {
  font-family: "Quicksand";
  src: url("../assets/font/Quicksand-Regular.woff2") format("woff2"),
    url("../assets/font/Quicksand-Regular.woff") format("woff");
  font-weight: 400;
  font-display: swap;
}
@font-face {
  font-family: "Quicksand";
  src: url("../assets/font/Quicksand-SemiBold.woff2") format("woff2"),
    url("../assets/font/Quicksand-SemiBold.woff") format("woff");
  font-weight: 700;
  font-display: swap;
}

@font-face {
  font-family: "Quicksand";
  src: url("../assets/font/Quicksand-Bold.woff2") format("woff2"),
    url("../assets/font/Quicksand-Bold.woff") format("woff");
  font-weight: 800;
  font-display: swap;
}
