/* animation on scroll */
.hidden {
  opacity: 0;
  transform: translateY(30px);
  transition: all 0.8s ease-out;
  &[data-animate="left"] {
    transform: translateX(-50px);
  }

  &[data-animate="right"] {
    transform: translateX(50px);
  }

  &[data-animate="up"],
  &[data-animate="bottom"] {
    transform: translateY(50px);
  }
  &.show {
    opacity: 1;
    transform: none;
  }
}

/* animation on scroll */
